In [1]:
import pandas as pd
import random
import os
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

In [2]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
seed_everything(777) # Seed 고정

In [3]:
train_df = pd.read_csv('/content/drive/MyDrive/LG Aimers 2기/데이터/train.csv')
test_df = pd.read_csv('/content/drive/MyDrive/LG Aimers 2기/데이터/test.csv')

In [4]:
train_df.index = pd.to_datetime(train_df["TIMESTAMP"])
test_df.index = pd.to_datetime(test_df["TIMESTAMP"])

train_df.head()

,PRODUCT_ID,Y_Class,Y_Quality,TIMESTAMP,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-13 05:14:00,TRAIN_000,1,0.533433,2022-06-13 5:14,T050304,A_31,NaN,NaN,NaN,NaN,...,39.34,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:22:00,TRAIN_001,2,0.541819,2022-06-13 5:22,T050307,A_31,NaN,NaN,NaN,NaN,...,38.89,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:30:00,TRAIN_002,1,0.531267,2022-06-13 5:30,T050304,A_31,NaN,NaN,NaN,NaN,...,39.19,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:39:00,TRAIN_003,2,0.537325,2022-06-13 5:39,T050307,A_31,NaN,NaN,NaN,NaN,...,37.74,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:47:00,TRAIN_004,1,0.531590,2022-06-13 5:47,T050304,A_31,NaN,NaN,NaN,NaN,...,38.70,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN

In [5]:
# automl 결과 참고하여 del list 정의

del_list = ['X_2656', 'X_2657', 'X_2658', 'X_2659', 'X_2652', 'X_2696', 'X_2653', 'X_2697', 'X_2654', 'X_2698', 'TIMESTAMP', 'X_2655', 'X_2699', 'X_2692', 'X_2693', 'X_2650', 'X_2694', 'X_2651', 'X_2695', 'X_2690', 'X_2691', 'X_2649', 'X_2645', 'X_2689', 'X_2646', 'X_2844', 'X_2647', 'X_2648', 'X_2641', 'X_2685', 'X_2642', 'X_2686', 'X_2643', 'X_2687', 'X_2644', 'X_2688', 'X_2681', 'X_2682', 'X_2683', 'X_2640', 'X_2684', 'X_2680', 'X_2638', 'X_2639', 'X_2838', 'X_2634', 'X_2678', 'X_2635', 'X_2679', 'X_2636', 'X_2637', 'X_2630', 'X_2674', 'X_2872', 'X_2631', 'X_2675', 'X_2873', 'X_2632', 'X_2676', 'X_2874', 'X_2633', 'X_2677', 'X_2875', 'X_2670', 'X_2671', 'X_2672', 'X_2673', 'PRODUCT_ID', 'X_2628', 'X_2629', 'X_935', 'X_2667', 'X_936', 'X_2668', 'X_937', 'X_2669', 'X_2663', 'X_2664', 'X_2665', 'X_934', 'X_2666', 'X_2660', 'X_2661', 'X_2662']

train_df.drop(columns=del_list, inplace=True)
test_df.drop(columns=del_list, inplace=True)

In [6]:
train_df.head()

,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,...,X_2862,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-13 05:14:00,1,0.533433,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,189.0,383.0,368.296296,353.0,39.34,40.89,32.56,34.09,77.77,NaN
2022-06-13 05:22:00,2,0.541819,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,185.6,383.0,367.735849,353.0,38.89,42.82,43.92,35.34,72.55,NaN
2022-06-13 05:30:00,1,0.531267,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,165.5,383.0,367.320755,353.0,39.19,36.65,42.47,36.53,78.35,NaN
2022-06-13 05:39:00,2,0.537325,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,165.8,384.0,369.188679,353.0,37.74,39.17,52.17,30.58,71.78,NaN
2022-06-13 05:47:00,1,0.531590,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,182.6,383.0,367.351852,352.0,38.70,41.89,46.93,33.09,76.97,NaN

In [7]:
test_df.head()

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2862,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-09-09 02:01:00,T100306,T_31,2.0,94.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 02:09:00,T100304,T_31,2.0,93.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 08:42:00,T100304,T_31,2.0,95.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 10:56:00,T010305,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,183.8,467.0,444.192308,423.0,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 11:04:00,T010306,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,179.7,465.0,443.211539,423.0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
train_x = train_df.drop(columns=['Y_Class', 'Y_Quality'], axis=1)
train_y = train_df['Y_Class']

In [9]:
test_x = test_df

In [10]:
train_x = train_x.fillna(0)
test_x = test_x.fillna(0)

In [11]:
from sklearn.preprocessing import RobustScaler

train_robust = train_x.iloc[:, 2:]

robust_scaler = RobustScaler()
fitted = robust_scaler.fit(train_robust)

train_robust = robust_scaler.transform(train_robust)
train_robust = pd.DataFrame(train_robust, columns=train_x.iloc[:, 2:].columns, index=train_x.index)
train_x_robust = pd.concat([train_x.iloc[:, 0:2], train_robust], axis=1)

train_x_robust.head()

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2862,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-13 05:14:00,T050304,A_31,-1.0,-0.957895,0.0,-1.0,-1.0,0.0,-0.9,-1.0,...,1.171911,0.997396,0.997188,1.000000,39.34,40.89,32.56,34.09,77.77,0.0
2022-06-13 05:22:00,T050307,A_31,-1.0,-0.957895,0.0,-1.0,-1.0,0.0,-0.9,-1.0,...,1.150829,0.997396,0.995670,1.000000,38.89,42.82,43.92,35.34,72.55,0.0
2022-06-13 05:30:00,T050304,A_31,-1.0,-0.957895,0.0,-1.0,-1.0,0.0,-0.9,-1.0,...,1.026197,0.997396,0.994547,1.000000,39.19,36.65,42.47,36.53,78.35,0.0
2022-06-13 05:39:00,T050307,A_31,-1.0,-0.957895,0.0,-1.0,-1.0,0.0,-0.9,-1.0,...,1.028058,1.000000,0.999604,1.000000,37.74,39.17,52.17,30.58,71.78,0.0
2022-06-13 05:47:00,T050304,A_31,-1.0,-0.957895,0.0,-1.0,-1.0,0.0,-0.9,-1.0,...,1.132228,0.997396,0.994631,0.997167,38.70,41.89,46.93,33.09,76.97,0.0

In [12]:
test_df_robust = test_x.iloc[:, 2:]
test_df_robust = robust_scaler.transform(test_df_robust)
test_df_robust = pd.DataFrame(test_df_robust, columns=test_x.iloc[:, 2:].columns, index=test_x.index)

In [13]:
test_x_robust = pd.concat([test_x.iloc[:, 0:2], test_df_robust], axis=1)

test_x_robust.head()

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2862,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-09-09 02:01:00,T100306,T_31,0.0,0.031579,0.0,0.0,0.0,0.0,0.12,0.0,...,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
2022-09-09 02:09:00,T100304,T_31,0.0,0.021053,0.0,0.0,0.1,0.0,0.00,0.0,...,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
2022-09-09 08:42:00,T100304,T_31,0.0,0.042105,0.0,0.0,0.1,0.0,0.00,0.0,...,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
2022-09-09 10:56:00,T010305,A_31,-1.0,-0.957895,0.0,-1.0,-1.0,0.0,-0.90,-1.0,...,1.139668,1.216146,1.202682,1.1983,0.0,0.0,0.0,0.0,0.0,0.0
2022-09-09 11:04:00,T010306,A_31,-1.0,-0.957895,0.0,-1.0,-1.0,0.0,-0.90,-1.0,...,1.114246,1.210938,1.200026,1.1983,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# qualitative to quantitative
qual_col = ['LINE', 'PRODUCT_CODE']

for i in qual_col:
    le = LabelEncoder()
    le = le.fit(train_x[i])
    train_x_robust[i] = le.transform(train_x_robust[i])
    
    for label in np.unique(test_x[i]): 
        if label not in le.classes_: 
            le.classes_ = np.append(le.classes_, label)
    test_x_robust[i] = le.transform(test_x_robust[i]) 
print('Done.')

Done.

In [15]:
from xgboost.sklearn import XGBClassifier


clf_best = XGBClassifier(max_depth=6, 
                         n_estimators=30, 
                         learning_rate=0.05, 
                         reg_lambda=1,
                         random_state=777)

clf_best.fit(train_x_robust, train_y)

XGBClassifier(learning_rate=0.05, max_depth=6, n_estimators=30,
              objective='multi:softprob', random_state=777)

In [16]:
preds = clf_best.predict(test_x_robust)
print('Done.')

Done.

In [17]:
submit = pd.read_csv('/content/drive/MyDrive/LG Aimers 2기/데이터/sample_submission.csv')

In [18]:
submit['Y_Class'] = preds

In [19]:
submit.to_csv('/content/drive/MyDrive/LG Aimers 2기/제출/baseline_submission20.csv', index=False)