In [1]:
import pandas as pd
import random
import os
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from lightgbm import LGBMRegressor

In [2]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
seed_everything(37) # Seed 고정

In [3]:
train_df = pd.read_csv('/content/drive/MyDrive/LG Aimers 2기/데이터/train.csv', parse_dates=['TIMESTAMP'])
test_df = pd.read_csv('/content/drive/MyDrive/LG Aimers 2기/데이터/test.csv', parse_dates=['TIMESTAMP'])

In [4]:
train_df.index = train_df['TIMESTAMP']
test_df.index = test_df['TIMESTAMP']

train_df = train_df.drop(columns=['TIMESTAMP'])
test_df = test_df.drop(columns=['TIMESTAMP'])

In [5]:
train_df.head()

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-13 05:14:00,TRAIN_000,1,0.533433,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,39.34,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:22:00,TRAIN_001,2,0.541819,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,38.89,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:30:00,TRAIN_002,1,0.531267,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,39.19,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:39:00,TRAIN_003,2,0.537325,T050307,A_31,NaN,NaN,NaN,NaN,NaN,...,37.74,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:47:00,TRAIN_004,1,0.531590,T050304,A_31,NaN,NaN,NaN,NaN,NaN,...,38.70,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN

In [6]:
test_df.head()

,PRODUCT_ID,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-09-09 02:01:00,TEST_000,T100306,T_31,2.0,94.0,0.0,45.0,10.0,0.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 02:09:00,TEST_001,T100304,T_31,2.0,93.0,0.0,45.0,11.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 08:42:00,TEST_002,T100304,T_31,2.0,95.0,0.0,45.0,11.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 10:56:00,TEST_003,T010305,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 11:04:00,TEST_004,T010306,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
train_df = train_df.drop(columns=['PRODUCT_ID'])
test_df = test_df.drop(columns=['PRODUCT_ID'])

In [8]:
train_x = train_df.drop(columns=['Y_Class', 'Y_Quality'])
train_y = train_df['Y_Class']

1. 데이터에 min-max scaling 적용

In [10]:
# origin train_x
train_x.head()

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-13 05:14:00,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.34,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:22:00,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.89,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:30:00,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.19,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:39:00,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.74,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:47:00,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.70,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN

In [22]:
df_minmax = train_x.iloc[:,2:]

print(type(df_minmax))

from sklearn.preprocessing import MinMaxScaler

min_max_scaler = MinMaxScaler()

fitted = min_max_scaler.fit(df_minmax)

df_minmax = min_max_scaler.transform(df_minmax)

df_minmax = pd.DataFrame(df_minmax, columns = train_x.iloc[:,2:].columns, index = train_x.index)

<class 'pandas.core.frame.DataFrame'>

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_data.py:461: RuntimeWarning: All-NaN slice encountered
  data_min = np.nanmin(X, axis=0)
/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_data.py:462: RuntimeWarning: All-NaN slice encountered
  data_max = np.nanmax(X, axis=0)

In [23]:
df_minmax.head()

,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,X_10,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-13 05:14:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256757,0.248647,0.000000,0.122283,0.890487,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.240754,0.300866,0.407899,0.164742,0.601770,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.251422,0.133929,0.355835,0.205163,0.922566,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:39:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.199858,0.202110,0.704129,0.003057,0.559181,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:47:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.233997,0.275703,0.515978,0.088315,0.846239,NaN,NaN,NaN,NaN,NaN

In [25]:
train_x_minmax = pd.concat([train_x.iloc[:,0:2], df_minmax], axis=1)

train_x_minmax.head()

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-13 05:14:00,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256757,0.248647,0.000000,0.122283,0.890487,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:22:00,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.240754,0.300866,0.407899,0.164742,0.601770,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:30:00,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.251422,0.133929,0.355835,0.205163,0.922566,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:39:00,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.199858,0.202110,0.704129,0.003057,0.559181,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:47:00,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.233997,0.275703,0.515978,0.088315,0.846239,NaN,NaN,NaN,NaN,NaN

In [26]:
# 이후 scaling 진행한 데이터로 catboostclassifier 분류모델 학습

!pip install catboost
from catboost import CatBoostClassifier
cat = CatBoostClassifier(iterations=100, random_state=37)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost
  Downloading catboost-1.1.1-cp38-none-manylinux1_x86_64.whl (76.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.6/76.6 MB 8.3 MB/s eta 0:00:00
Requirement already satisfied: graphviz in /usr/local/lib/python3.8/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2022.7.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly->catboost) (8.1.0)
Installing collected packages: catboost
Successfully installed catboost-1.1.1

In [27]:
cat.fit(train_x_minmax, train_y, cat_features=np.where(train_x.dtypes != np.float)[0])

<ipython-input-27-d35e68fa5c75>:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  cat.fit(train_x_minmax, train_y, cat_features=np.where(train_x.dtypes != np.float)[0])

Learning rate set to 0.5
0:	learn: 0.8305971	total: 961ms	remaining: 1m 35s
1:	learn: 0.7578487	total: 1.29s	remaining: 1m 3s
2:	learn: 0.7172675	total: 1.64s	remaining: 52.9s
3:	learn: 0.6909057	total: 1.98s	remaining: 47.5s
4:	learn: 0.6743387	total: 2.31s	remaining: 43.9s
5:	learn: 0.6561558	total: 2.65s	remaining: 41.5s
6:	learn: 0.6344991	total: 2.99s	remaining: 39.7s
7:	learn: 0.6130517	total: 3.32s	remaining: 38.2s
8:	learn: 0.5944930	total: 3.66s	remaining: 37s
9:	learn: 0.5864673	total: 4s	remaining: 36s
10:	learn: 0.5774144	total: 4.33s	remaining: 35s
11:	learn: 0.5643013	total: 4.66s	remaining: 34.2s
12:	learn: 0.5459619	total: 5s	remaining: 33.5s
13:	learn: 0.5385314	total: 5.35s	remaining: 32.8s
14:	learn: 0.5201931	total: 5.68s	remaining: 32.2s
15:	learn: 0.5062757	total: 6.03s	remaining: 31.7s
16:	learn: 0.4913925	total: 6.53s	remaining: 31.9s
17:	learn: 0.4821990	total: 7.11s	remaining: 32.4s
18:	learn: 0.4638384	total: 7.71s	remaining: 32.9s
19:	learn: 0.4540119	total: 8.35s	remaining: 33.4s
20:	learn: 0.4394549	total: 8.97s	remaining: 33.7s
21:	learn: 0.4199774	total: 9.51s	remaining: 33.7s
22:	learn: 0.4052456	total: 10.1s	remaining: 33.7s
23:	learn: 0.3957044	total: 10.6s	remaining: 33.5s
24:	learn: 0.3857358	total: 10.9s	remaining: 32.7s
25:	learn: 0.3796205	total: 11.2s	remaining: 32s
26:	learn: 0.3728072	total: 11.6s	remaining: 31.3s
27:	learn: 0.3547558	total: 11.9s	remaining: 30.7s
28:	learn: 0.3449346	total: 12.3s	remaining: 30.1s
29:	learn: 0.3307339	total: 12.6s	remaining: 29.4s
30:	learn: 0.3187278	total: 13.1s	remaining: 29.2s
31:	learn: 0.3076810	total: 13.4s	remaining: 28.6s
32:	learn: 0.3019020	total: 13.8s	remaining: 28s
33:	learn: 0.2952332	total: 14.1s	remaining: 27.4s
34:	learn: 0.2885479	total: 14.4s	remaining: 26.8s
35:	learn: 0.2803503	total: 14.8s	remaining: 26.3s
36:	learn: 0.2752231	total: 15.1s	remaining: 25.7s
37:	learn: 0.2629874	total: 15.5s	remaining: 25.2s
38:	learn: 0.2596292	total: 15.8s	remaining: 24.7s
39:	learn: 0.2534583	total: 16.1s	remaining: 24.2s
40:	learn: 0.2464654	total: 16.5s	remaining: 23.7s
41:	learn: 0.2393402	total: 16.8s	remaining: 23.2s
42:	learn: 0.2344319	total: 17.2s	remaining: 22.7s
43:	learn: 0.2293409	total: 17.5s	remaining: 22.3s
44:	learn: 0.2253059	total: 17.8s	remaining: 21.8s
45:	learn: 0.2236375	total: 18.2s	remaining: 21.3s
46:	learn: 0.2201158	total: 18.5s	remaining: 20.9s
47:	learn: 0.2166426	total: 18.8s	remaining: 20.4s
48:	learn: 0.2137775	total: 19.2s	remaining: 19.9s
49:	learn: 0.2108920	total: 19.5s	remaining: 19.5s
50:	learn: 0.2055065	total: 19.9s	remaining: 19.1s
51:	learn: 0.1986954	total: 20.2s	remaining: 18.6s
52:	learn: 0.1947425	total: 20.6s	remaining: 18.3s
53:	learn: 0.1922732	total: 21.2s	remaining: 18s
54:	learn: 0.1900469	total: 21.8s	remaining: 17.8s
55:	learn: 0.1878357	total: 22.4s	remaining: 17.6s
56:	learn: 0.1852393	total: 23s	remaining: 17.4s
57:	learn: 0.1833941	total: 23.7s	remaining: 17.1s
58:	learn: 0.1800021	total: 24.3s	remaining: 16.9s
59:	learn: 0.1775104	total: 25s	remaining: 16.6s
60:	learn: 0.1752737	total: 25.8s	remaining: 16.5s
61:	learn: 0.1727606	total: 26.5s	remaining: 16.2s
62:	learn: 0.1705237	total: 27s	remaining: 15.9s
63:	learn: 0.1674309	total: 27.7s	remaining: 15.6s
64:	learn: 0.1641983	total: 28.3s	remaining: 15.2s
65:	learn: 0.1608116	total: 28.7s	remaining: 14.8s
66:	learn: 0.1588971	total: 29.1s	remaining: 14.3s
67:	learn: 0.1581371	total: 29.4s	remaining: 13.8s
68:	learn: 0.1544407	total: 29.7s	remaining: 13.4s
69:	learn: 0.1513729	total: 30.1s	remaining: 12.9s
70:	learn: 0.1490489	total: 30.5s	remaining: 12.4s
71:	learn: 0.1440580	total: 30.8s	remaining: 12s
72:	learn: 0.1424142	total: 31.1s	remaining: 11.5s
73:	learn: 0.1400176	total: 31.5s	remaining: 11.1s
74:	learn: 0.1382650	total: 31.8s	remaining: 10.6s
75:	learn: 0.1347485	total: 32.2s	remaining: 10.2s
76:	learn: 0.1323687	total: 32.5s	remaining: 9.7s
77:	learn: 0.1301043	total: 32.8s	remaining: 9.26s
78:	learn: 0.1292837	total: 33.2s	remaining: 8.81s
79:	learn: 0.1266389	total: 33.5s	remaining: 8.37s
80:	learn: 0.1238724	total: 33.8s	remaining: 7.93s
81:	learn: 0.1214412	total: 34.2s	remaining: 7.5s
82:	learn: 0.1199452	total: 34.5s	remaining: 7.07s
83:	learn: 0.1181249	total: 34.9s	remaining: 6.64s
84:	learn: 0.1162836	total: 35.3s	remaining: 6.23s
85:	learn: 0.1151313	total: 35.9s	remaining: 5.84s
86:	learn: 0.1133154	total: 36.5s	remaining: 5.45s
87:	learn: 0.1113205	total: 37.1s	remaining: 5.06s
88:	learn: 0.1098508	total: 37.6s	remaining: 4.65s
89:	learn: 0.1085245	total: 38.2s	remaining: 4.24s
90:	learn: 0.1068246	total: 39.1s	remaining: 3.87s
91:	learn: 0.1063641	total: 39.5s	remaining: 3.43s
92:	learn: 0.1052249	total: 39.8s	remaining: 3s
93:	learn: 0.1043887	total: 40.1s	remaining: 2.56s
94:	learn: 0.1031427	total: 40.5s	remaining: 2.13s
95:	learn: 0.1016446	total: 40.8s	remaining: 1.7s
96:	learn: 0.1001206	total: 41.2s	remaining: 1.27s
97:	learn: 0.0988791	total: 41.5s	remaining: 847ms
98:	learn: 0.0974198	total: 41.9s	remaining: 423ms
99:	learn: 0.0966436	total: 42.2s	remaining: 0us

In [28]:
# test데이터도 scaling 적용 후 넣어준다.

test_df.head()

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-09-09 02:01:00,T100306,T_31,2.0,94.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 02:09:00,T100304,T_31,2.0,93.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 08:42:00,T100304,T_31,2.0,95.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 10:56:00,T010305,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 11:04:00,T010306,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
preds = cat.predict(test_df)

In [30]:
submit = pd.read_csv('/content/drive/MyDrive/LG Aimers 2기/데이터/sample_submission.csv')

submit['Y_Class'] = preds

In [31]:
submit.to_csv('/content/drive/MyDrive/LG Aimers 2기/제출/baseline_submission7.csv', index=False)

In [32]:
test_df_minmax = test_df.iloc[:,2:]

test_df_minmax = min_max_scaler.transform(test_df_minmax)

test_df_minmax = pd.DataFrame(test_df_minmax, columns = test_df.iloc[:,2:].columns, index = test_df.index)

In [34]:
test_minmax = pd.concat([test_df.iloc[:,0:2], test_df_minmax], axis=1)

test_minmax.head()

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-09-09 02:01:00,T100306,T_31,0.009804,0.466667,0.0,0.0,0.0,0.0,0.352941,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 02:09:00,T100304,T_31,0.009804,0.400000,0.0,0.0,1.0,0.0,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 08:42:00,T100304,T_31,0.009804,0.533333,0.0,0.0,1.0,0.0,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 10:56:00,T010305,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 11:04:00,T010306,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
preds_2 = cat.predict(test_minmax)

submit = pd.read_csv('/content/drive/MyDrive/LG Aimers 2기/데이터/sample_submission.csv')

submit['Y_Class'] = preds

submit.to_csv('/content/drive/MyDrive/LG Aimers 2기/제출/baseline_submission8.csv', index=False)

In [36]:
submit = pd.read_csv('/content/drive/MyDrive/LG Aimers 2기/데이터/sample_submission.csv')

submit['Y_Class'] = preds_2

submit.to_csv('/content/drive/MyDrive/LG Aimers 2기/제출/baseline_submission9.csv', index=False)

# Robust Scaler

In [37]:
train_x.head()

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-13 05:14:00,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.34,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:22:00,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.89,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:30:00,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.19,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:39:00,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.74,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:47:00,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.70,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN

In [40]:
from sklearn.preprocessing import RobustScaler

train_robust = train_x.iloc[:,2:]

robust_scaler = RobustScaler()

fitted2 = robust_scaler.fit(train_robust)

train_robust = min_max_scaler.transform(train_robust)

train_robust = pd.DataFrame(train_robust, columns = train_x.iloc[:,2:].columns, index = train_x.index)

/usr/local/lib/python3.8/dist-packages/numpy/lib/nanfunctions.py:1119: RuntimeWarning: All-NaN slice encountered
  r, k = function_base._ureduce(a, func=_nanmedian, axis=axis, out=out,
/usr/local/lib/python3.8/dist-packages/numpy/lib/nanfunctions.py:1374: RuntimeWarning: All-NaN slice encountered
  r, k = function_base._ureduce(

In [41]:
train_robust.head()

,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,X_10,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-13 05:14:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256757,0.248647,0.000000,0.122283,0.890487,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.240754,0.300866,0.407899,0.164742,0.601770,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.251422,0.133929,0.355835,0.205163,0.922566,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:39:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.199858,0.202110,0.704129,0.003057,0.559181,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:47:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.233997,0.275703,0.515978,0.088315,0.846239,NaN,NaN,NaN,NaN,NaN

In [42]:
train_x_robust = pd.concat([train_x.iloc[:,0:2], train_robust], axis=1)

train_x_robust.head()

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-13 05:14:00,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256757,0.248647,0.000000,0.122283,0.890487,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:22:00,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.240754,0.300866,0.407899,0.164742,0.601770,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:30:00,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.251422,0.133929,0.355835,0.205163,0.922566,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:39:00,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.199858,0.202110,0.704129,0.003057,0.559181,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:47:00,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.233997,0.275703,0.515978,0.088315,0.846239,NaN,NaN,NaN,NaN,NaN

In [43]:
cat2 = CatBoostClassifier(iterations=100, random_state=37)

cat2.fit(train_x_robust, train_y, cat_features=np.where(train_x_robust.dtypes != np.float)[0])

<ipython-input-43-7bce140c99e2>:3: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  cat2.fit(train_x_robust, train_y, cat_features=np.where(train_x_robust.dtypes != np.float)[0])

Learning rate set to 0.5
0:	learn: 0.8305971	total: 1.01s	remaining: 1m 39s
1:	learn: 0.7578487	total: 1.55s	remaining: 1m 15s
2:	learn: 0.7172675	total: 2.15s	remaining: 1m 9s
3:	learn: 0.6909057	total: 2.75s	remaining: 1m 5s
4:	learn: 0.6743387	total: 3.3s	remaining: 1m 2s
5:	learn: 0.6561558	total: 3.88s	remaining: 1m
6:	learn: 0.6344991	total: 4.51s	remaining: 59.9s
7:	learn: 0.6130517	total: 5.12s	remaining: 58.9s
8:	learn: 0.5944930	total: 5.51s	remaining: 55.7s
9:	learn: 0.5864673	total: 5.84s	remaining: 52.5s
10:	learn: 0.5774144	total: 6.18s	remaining: 50s
11:	learn: 0.5643013	total: 6.5s	remaining: 47.7s
12:	learn: 0.5459619	total: 6.84s	remaining: 45.8s
13:	learn: 0.5385314	total: 7.19s	remaining: 44.1s
14:	learn: 0.5201931	total: 7.53s	remaining: 42.7s
15:	learn: 0.5062757	total: 7.88s	remaining: 41.4s
16:	learn: 0.4913925	total: 8.21s	remaining: 40.1s
17:	learn: 0.4821990	total: 8.54s	remaining: 38.9s
18:	learn: 0.4638384	total: 8.88s	remaining: 37.8s
19:	learn: 0.4540119	total: 9.23s	remaining: 36.9s
20:	learn: 0.4394549	total: 9.57s	remaining: 36s
21:	learn: 0.4199774	total: 9.91s	remaining: 35.1s
22:	learn: 0.4052456	total: 10.3s	remaining: 34.3s
23:	learn: 0.3957044	total: 10.8s	remaining: 34.3s
24:	learn: 0.3857358	total: 11.4s	remaining: 34.2s
25:	learn: 0.3796205	total: 12s	remaining: 34.2s
26:	learn: 0.3728072	total: 12.6s	remaining: 34.1s
27:	learn: 0.3547558	total: 13.2s	remaining: 34s
28:	learn: 0.3449346	total: 13.9s	remaining: 34s
29:	learn: 0.3307339	total: 14.5s	remaining: 33.8s
30:	learn: 0.3187278	total: 15.1s	remaining: 33.5s
31:	learn: 0.3076810	total: 15.4s	remaining: 32.7s
32:	learn: 0.3019020	total: 15.7s	remaining: 31.9s
33:	learn: 0.2952332	total: 16.1s	remaining: 31.2s
34:	learn: 0.2885479	total: 16.4s	remaining: 30.5s
35:	learn: 0.2803503	total: 16.7s	remaining: 29.8s
36:	learn: 0.2752231	total: 17.1s	remaining: 29.1s
37:	learn: 0.2629874	total: 17.4s	remaining: 28.5s
38:	learn: 0.2596292	total: 17.8s	remaining: 27.8s
39:	learn: 0.2534583	total: 18.1s	remaining: 27.2s
40:	learn: 0.2464654	total: 18.5s	remaining: 26.6s
41:	learn: 0.2393402	total: 18.8s	remaining: 25.9s
42:	learn: 0.2344319	total: 19.1s	remaining: 25.4s
43:	learn: 0.2293409	total: 19.5s	remaining: 24.8s
44:	learn: 0.2253059	total: 19.8s	remaining: 24.2s
45:	learn: 0.2236375	total: 20.1s	remaining: 23.6s
46:	learn: 0.2201158	total: 20.5s	remaining: 23.1s
47:	learn: 0.2166426	total: 20.8s	remaining: 22.6s
48:	learn: 0.2137775	total: 21.1s	remaining: 22s
49:	learn: 0.2108920	total: 21.5s	remaining: 21.5s
50:	learn: 0.2055065	total: 21.8s	remaining: 21s
51:	learn: 0.1986954	total: 22.1s	remaining: 20.4s
52:	learn: 0.1947425	total: 22.5s	remaining: 19.9s
53:	learn: 0.1922732	total: 22.8s	remaining: 19.5s
54:	learn: 0.1900469	total: 23.2s	remaining: 19s
55:	learn: 0.1878357	total: 23.5s	remaining: 18.5s
56:	learn: 0.1852393	total: 23.9s	remaining: 18s
57:	learn: 0.1833941	total: 24.2s	remaining: 17.5s
58:	learn: 0.1800021	total: 24.5s	remaining: 17s
59:	learn: 0.1775104	total: 25s	remaining: 16.7s
60:	learn: 0.1752737	total: 25.9s	remaining: 16.5s
61:	learn: 0.1727606	total: 26.5s	remaining: 16.2s
62:	learn: 0.1705237	total: 27.1s	remaining: 15.9s
63:	learn: 0.1674309	total: 27.6s	remaining: 15.5s
64:	learn: 0.1641983	total: 28.3s	remaining: 15.2s
65:	learn: 0.1608116	total: 28.9s	remaining: 14.9s
66:	learn: 0.1588971	total: 29.2s	remaining: 14.4s
67:	learn: 0.1581371	total: 29.6s	remaining: 13.9s
68:	learn: 0.1544407	total: 29.9s	remaining: 13.4s
69:	learn: 0.1513729	total: 30.2s	remaining: 13s
70:	learn: 0.1490489	total: 30.6s	remaining: 12.5s
71:	learn: 0.1440580	total: 30.9s	remaining: 12s
72:	learn: 0.1424142	total: 31.3s	remaining: 11.6s
73:	learn: 0.1400176	total: 31.6s	remaining: 11.1s
74:	learn: 0.1382650	total: 31.9s	remaining: 10.6s
75:	learn: 0.1347485	total: 32.3s	remaining: 10.2s
76:	learn: 0.1323687	total: 32.6s	remaining: 9.74s
77:	learn: 0.1301043	total: 33s	remaining: 9.3s
78:	learn: 0.1292837	total: 33.5s	remaining: 8.91s
79:	learn: 0.1266389	total: 33.9s	remaining: 8.47s
80:	learn: 0.1238724	total: 34.3s	remaining: 8.04s
81:	learn: 0.1214412	total: 34.6s	remaining: 7.6s
82:	learn: 0.1199452	total: 34.9s	remaining: 7.16s
83:	learn: 0.1181249	total: 35.3s	remaining: 6.72s
84:	learn: 0.1162836	total: 35.6s	remaining: 6.29s
85:	learn: 0.1151313	total: 36s	remaining: 5.85s
86:	learn: 0.1133154	total: 36.3s	remaining: 5.43s
87:	learn: 0.1113205	total: 36.6s	remaining: 5s
88:	learn: 0.1098508	total: 37s	remaining: 4.57s
89:	learn: 0.1085245	total: 37.3s	remaining: 4.15s
90:	learn: 0.1068246	total: 37.9s	remaining: 3.74s
91:	learn: 0.1063641	total: 38.2s	remaining: 3.32s
92:	learn: 0.1052249	total: 38.5s	remaining: 2.9s
93:	learn: 0.1043887	total: 38.9s	remaining: 2.48s
94:	learn: 0.1031427	total: 39.4s	remaining: 2.07s
95:	learn: 0.1016446	total: 40s	remaining: 1.67s
96:	learn: 0.1001206	total: 40.6s	remaining: 1.25s
97:	learn: 0.0988791	total: 41.2s	remaining: 840ms
98:	learn: 0.0974198	total: 41.7s	remaining: 422ms
99:	learn: 0.0966436	total: 42.4s	remaining: 0us

In [44]:
test_df.head()

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-09-09 02:01:00,T100306,T_31,2.0,94.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 02:09:00,T100304,T_31,2.0,93.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 08:42:00,T100304,T_31,2.0,95.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 10:56:00,T010305,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 11:04:00,T010306,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
test_df_robust = test_df.iloc[:,2:]

test_df_robust = robust_scaler.transform(test_df_robust)

test_df_robust = pd.DataFrame(test_df_robust, columns = test_df.iloc[:,2:].columns, index = test_df.index)

In [46]:
test_robust = pd.concat([test_df.iloc[:,0:2], test_df_robust], axis=1)

test_robust.head()

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-09-09 02:01:00,T100306,T_31,0.0,-0.2,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 02:09:00,T100304,T_31,0.0,-0.4,0.0,0.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 08:42:00,T100304,T_31,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 10:56:00,T010305,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 11:04:00,T010306,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
preds_3 = cat.predict(test_robust)

In [48]:
submit = pd.read_csv('/content/drive/MyDrive/LG Aimers 2기/데이터/sample_submission.csv')

submit['Y_Class'] = preds_3

submit.to_csv('/content/drive/MyDrive/LG Aimers 2기/제출/baseline_submission10.csv', index=False)